/* #Wide monitor
================================================== */
/* Note: Design for a width of 1200px */
@media (min-width: 1250px) {
	.container-12					{width: 1200px;}
	[class*="grid-"]{margin-left:15px; margin-right:15px;}
	
	.container-12 .grid-1			{width: 70px;}
	.container-12 .grid-2			{width: 170px;}
	.container-12 .grid-3			{width: 270px;}
	.container-12 .grid-4			{width: 370px;}
	.container-12 .grid-5			{width: 470px;}
	.container-12 .grid-6			{width: 570px;}
	.container-12 .grid-7			{width: 670px;}
	.container-12 .grid-8			{width: 770px;}
	.container-12 .grid-9			{width: 870px;}
	.container-12 .grid-10			{width: 970px;}
	.container-12 .grid-11			{width: 1070px;}
	.container-12 .grid-12			{width: 1170px;}

	/* Pref/Suf Styles */
	.container-12 .prefix-1			{padding-left:100px;}
	.container-12 .prefix-2			{padding-left:200px;}
	.container-12 .prefix-3			{padding-left:300px;}
	.container-12 .prefix-4			{padding-left:400px;}
	.container-12 .prefix-5			{padding-left:500px;}
	.container-12 .prefix-6			{padding-left:600px;}
	.container-12 .prefix-7			{padding-left:700px;}
	.container-12 .prefix-8			{padding-left:800px;}
	.container-12 .prefix-9			{padding-left:900px;}
	.container-12 .prefix-10		{padding-left:1000px;}
	.container-12 .prefix-11		{padding-left:1100px;}
	
	.container-12 .suffix-1			{padding-right:100px;}
	.container-12 .suffix-2			{padding-right:200px;}
	.container-12 .suffix-3			{padding-right:300px;}
	.container-12 .suffix-4			{padding-right:400px;}
	.container-12 .suffix-5			{padding-right:500px;}
	.container-12 .suffix-6			{padding-right:600px;}
	.container-12 .suffix-7			{padding-right:700px;}
	.container-12 .suffix-8			{padding-right:800px;}
	.container-12 .suffix-9			{padding-right:900px;}
	.container-12 .suffix-10		{padding-right:1000px;}
	.container-12 .suffix-11		{padding-right:1100px;}
}

/* #Tablet (Portrait)
================================================== */
/* Note: Design for a width of 768px */
@media (max-width: 995px) {
	.container-12					{width: 768px;}

	.container-12 .grid-1			{width: 44px;}
	.container-12 .grid-2			{width: 108px;}
	.container-12 .grid-3			{width: 172px;}
	.container-12 .grid-4			{width: 236px;}
	.container-12 .grid-5			{width: 300px;}
	.container-12 .grid-6			{width: 364px;}
	.container-12 .grid-7			{width: 428px;}
	.container-12 .grid-8			{width: 492px;}
	.container-12 .grid-9			{width: 556px;}
	.container-12 .grid-10			{width: 620px;}
	.container-12 .grid-11			{width: 684px;}
	.container-12 .grid-12			{width: 748px;}

	/* Pref/Suf Styles */
	.container-12 .prefix-1			{padding-left:40px;}
	.container-12 .prefix-2			{padding-left:80px;}
	.container-12 .prefix-3			{padding-left:120px;}
	.container-12 .prefix-4			{padding-left:160px;}
	.container-12 .prefix-5			{padding-left:200px;}
	.container-12 .prefix-6			{padding-left:240px;}
	.container-12 .prefix-7			{padding-left:280px;}
	.container-12 .prefix-8			{padding-left:320px;}
	.container-12 .prefix-9			{padding-left:360px;}
	.container-12 .prefix-10		{padding-left:400px;}
	.container-12 .prefix-11		{padding-left:440px;}
	
	.container-12 .suffix-1			{padding-right:40px;}
	.container-12 .suffix-2			{padding-right:80px;}
	.container-12 .suffix-3			{padding-right:120px;}
	.container-12 .suffix-4			{padding-right:160px;}
	.container-12 .suffix-5			{padding-right:200px;}
	.container-12 .suffix-6			{padding-right:240px;}
	.container-12 .suffix-7			{padding-right:280px;}
	.container-12 .suffix-8			{padding-right:320px;}
	.container-12 .suffix-9			{padding-right:360px;}
	.container-12 .suffix-10		{padding-right:400px;}
	.container-12 .suffix-11		{padding-right:440px;}
}


/*  #Mobile (Portrait)
================================================== */
/* Note: Design for a width of 320px */

@media (max-width: 767px) {
	.container-12{width: auto; padding: 0 15px;}

	[class*="grid-"]{margin: 0 0 30px; display: block; float: none;}
	.container-12 [class*="grid-"]{width: auto;}

	/* Pref/Suf Styles */
	.container-12 [class*="prefix-"]{padding-left:0px;}
	.container-12 [class*="suffix-"]{padding-right:0px;}

	.grid-last {margin-bottom: 0 !important;}
}