.switcher{
	display:none;
}

@media (min-width: 1250px) {
	body#body {
		min-width:1200px;
	}
	
	.sidebar-first #content {
		background:url(../images/border-ver.gif) 0 0 repeat-y;
		margin-left: 15px;
		width: 770px;
	}
		.sidebar-first #content .section{
			padding-left:100px;
		}
	.sidebar-second #content {
		background:url(../images/border-ver.gif) right 0 repeat-y;
		margin-right: 15px;
		width: 770px;
	}
		.sidebar-second #content .section{
			padding-right:100px;
		}
	
	.two-sidebars #content {
		background:url(../images/border-ver.gif) 0 0 repeat-y;
		margin-left: 15px;
		margin-right: 15px;
		width: 370px;
	}
		.two-sidebars #content .section{
			background:url(../images/border-ver.gif) right 0 repeat-y;
			padding-left:100px;
			padding-right:100px;
		}
	
	#logo{
		margin:5px 0 0 69px;
	}
	
	#header .header-top {
		left: 15px;
		right: 15px;
	}
	
	#superfish-1{
		padding-left:100px;
	}
	#superfish-1 > li{
		font-size:18px;
		letter-spacing:-1px;
		margin-left:6px;
	}
	
	#superfish-1 > li > a{
		padding:13px 16px;
	}
	
	.view-our-team .view-footer{
		background-image:url(../images/brace.png);
	}
	
	.contact-info p {
		padding-left: 29px;
	}
	
	.contact-info .adress{
		margin-right:30px;
		padding-left:32px;
		width:149px;
	}
	
	.contact-info .phone{
		padding-left:35px;
		width:195px;
	}
	
	#block-follow-site  .content{
		padding-right:36px;
	}
	.front #block-views-why-choose-us-block .content{
		padding-right:65px;
	}
}

@media (max-width: 995px) {
	body#body {
		min-width:300px;
	}
	.sidebar-first #content,
	.sidebar-second #content {
		width: 492px;
	}
	
	.two-sidebars #content {
		width: 236px;
	}
	
	#comment-form .form-text,
	#user-login .form-text,
	#contact-site-form input.form-text,
	.search-form .form-text {
		width:200px;
	}

	.switcher {
		display: block;
	}
	
	#logo{
		display:inline-block;
		margin:5px 10px 0 10px;
	}
		#logo img{
			max-width:90%;
		}
	
	#superfish-1 > li{
		font-size:15px;
		margin-left:3px;
	}
	
	#superfish-1 > li > a{
		padding:13px 6px;
	}
	
	#search-block-form .container-inline,
	#search-block-form--2 .container-inline{
		width:145px;
	}
	
	#search-block-form input.form-text,
	#search-block-form--2 input.form-text{
		width:107px;
	}
	
	.flexslider {
		margin-left:-600px;
		width:1200px;
	}
	
	.flexslider .flex-caption h2{
		font-size:60px;
		line-height:60px;
		margin-bottom:10px;
	}

	.flexslider .flex-caption h2 .subtitle{
		font-size:40px;
		line-height:40px;
	}
	
	.header-bottom-region-wrapper .views-field-body {
		padding: 0;
	}
	
	.view-our-team .view-footer {
		padding-top: 70px;
	}
	
	.contact-info .adress{
		float:none;
		margin-bottom:10px;
		width:auto;
	}
	
	.contact-info .phone{
		float:none;
		width:auto;
	}
	
	.about-us{
		background:none;
	}
	
	#block-views-what-we-offer-block .views-field-counter{
		margin: 0 15px 0 0;
	}
	
	#block-views-what-we-offer-block .views-field-title,
	#block-views-what-we-offer-block .views-field-body{
		padding-left:55px;
	}
	
	.switcher{
		display:block;
	}
}

@media (max-width: 767px) {
	.comment-wrapper {
		overflow: visible;
	}

	.user-picture {
		margin-bottom: 12px;
	}

	#comment-form .form-text,
	#user-login .form-text,
	#contact-site-form input.form-text,
	.search-form .form-text,
	#block-search-form.main-search .form-text, #search-block-form.main-search .container-inline .form-text {
		width: 100%;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		margin-bottom:5px;
	}

	#block-search-form .container-inline .form-item, #search-block-form .container-inline .form-item {
		width:100%;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

	#forum td.created, #forum td.posts, #forum td.topics, #forum td.last-reply, #forum td.replies, #forum td.pager {
		white-space:normal;
		font-size: 11px;
	}

	.addthis_button_tweet.at300b {
		height:35px;
	}
	.field-type-addthis {margin-bottom:20px;}
	
	
	#superfish-1 {display:none;}
	
	.select-menu {
		display:block !important;
		width:100%;
	}
	
	.node-teaser .field-type-image, .node-employee .field-type-image {
		float:none;
		margin:0 0px 20px 0;
		width: auto;
	}
	
	
	.panel-pane.error-page .pane-content span.err {
		float:none;
		text-align:center;
		display:block;
	}
	
	.panel-pane.error-page .pane-content .extra {
		background:none;
		padding-left:0px;
		display:block;
		text-align:center;
		border-top:1px solid #4A4A4A;
	}
	.panel-pane.error-page .pane-content .err-body {
		width:100%;
	}
	#block-search-form .container-inline, #search-block-form .container-inline {display:block;}
	
	.page-page-404 #search-block-form {width:300px;}
	

	.sticky-table td,
	.sticky-table th {
		font-size: 9px;
	}

	.views-field-field-portfolio-image {
		pointer-events:none;
	}

	.content ul.pager {
		margin-bottom: 50px;
	}

	#content,
	.sidebar-first #content,
	.sidebar-second #content {
		float: none;
	}

	.two-sidebars #content,
	.sidebar-first #content,
	.sidebar-second #content {
		margin-left: 0px;
		margin-right: 0px;
		width: auto;
	}
	
	#header .header-top-wrapper{
		padding:0 !important;
	}
	#header .header-top{
		left:0;
		padding:20px 15px;
		position:relative;
		right:0;
	}
	
	#logo{
		margin:0;
	}
	
	.flexslider {
		margin-left:-400px;
		width:800px;
	}
	.flexslider .flex-caption{
		margin:0 0 0 -140px;
		width:280px;
	}
	.flexslider .flex-caption h2{
		font-size:40px;
		line-height:40px;
		margin-bottom:10px;
	}

	.flexslider .flex-caption h2 .subtitle{
		font-size:24px;
		line-height:24px;
	}
	
	.front #block-views-comments-recent-block,
	.front #block-views-why-choose-us-block,
	.front #block-views-why-choose-us-block{
		background:none;
		padding-bottom:none;
	}
	.front #block-views-why-choose-us-block .content{
		padding-right:0;
	}
	
	#block-follow-site {
		text-align: left;
	}
}

@media (max-width: 480px) {
	.about-us .views-field-field-image{
		float:none;
		margin: 0 0 20px;
		max-width:inherit;
		width:auto;
	}
	#comments .comment .comment-wrapper{
		overflow:visible;
	}
	
	.indented {
		margin-left: 0;
	}
}