body.maintenance-page {
	background-color: #fff;
	color: #777;
	margin:0;
	padding:0;
}
	.maintenance-page #page-wrapper {
		border: 1px solid #ddd;
		margin:40px auto;
		min-width: 300px;
		padding:30px;
		width: 760px;
	}
		.maintenance-page #header,
		.maintenance-page #messages,
		.maintenance-page #main,
		.maintenance-page #page,
		.maintenance-page #header div.section{
			width: auto;
		}
		.maintenance-page #header {
			background-image: none;
		}
			.maintenance-page #name-and-slogan {
				margin-bottom: 30px;
				margin-left: 0;
				font-size: 90%;
			}
				.maintenance-page #name-and-slogan,
				.maintenance-page #name-and-slogan a,
				.maintenance-page #name-and-slogan a:hover {
					color: #000;
				}
		.maintenance-page #main-wrapper {
			min-height: inherit;
		}
			.maintenance-page #main {
				margin: 0;
			}
				.maintenance-page #content .section {
					padding: 0;
				}
					.maintenance-page h1#page-title {
						line-height: 1em;
						margin-top: 0;
					}
						.maintenance-page #messages {
							padding: 0;
							margin-top: 30px;
						}
							.maintenance-page #messages div.section {
								padding: 0;
							}